.square {
    width: 25px;
    height: 25px;
    position: absolute;
    background-color: #1a75ff;
    box-shadow: inset 0 0 5px #0052cc;

    &.yellow {
        background-color: #ffff1a;
        box-shadow: inset 0 0 5px #cccc00;
    }

    &.red {
        background-color: #ff1a1a;
        box-shadow: inset 0 0 5px #cc0000;
    }

    &.green {
        background-color: #47d147;
        box-shadow: inset 0 0 5px #29a329;
    }

    &.purple {
        background-color: #c61aff;
        box-shadow: inset 0 0 5px #9900cc;
    }

    &.orange {
        background-color: #ffa31a;
        box-shadow: inset 0 0 5px #cc7a00;
    }

    &.light-blue {
        background-color: #1affff;
        box-shadow: inset 0 0 5px #00cccc;
    }
}
